<div class="d-flex mb-5">
	<h3 class="flex-grow-1">{{ title }}</h3>

	<ul class="nav nav-pills pill justify-content-end">

	  <li class="nav-item active">
	    <a class="nav-link active">
				<icon-component
					class="d-flex flex-column justify-content-center"
					label="Recovery"
					iconName="heartbeat"
				></icon-component>
			</a>
	  </li>

	  <li class="nav-item">
	    <a class="nav-link">
				<icon-component
					class="d-flex flex-column justify-content-center"
					label="Workout"
					iconName="dumbbell"
				></icon-component>
			</a>
	  </li>

	  <li class="nav-item">
	    <a class="nav-link">
				<icon-component
				class="d-flex flex-column justify-content-center"
				label="Settings"
				iconName="sliders-h"
				></icon-component>
			</a>
	  </li>
		
	</ul>
</div>
