<div class="wrapper container row">
	<div class="container col">

		<div class="card mb-4">
			<div class="card-body bg-secondary" (click)="onGenderClick()">
				<a class="card-link">
					<div class="row px-2">
						<icon-component
							class="mt-2 mr-1"
							iconName={{gender}}
						></icon-component>
					<h1 class="card-title title">{{gender}}</h1>
					</div>
				</a>
				<h6 class="card-subtitle mb-2 text-muted">Gender</h6>
				<p class="card-text">
				</p>
			</div>
		</div>

		<div class="card mb-4">
			<div class="card-body bg-secondary">
		    <a class="card-link">
					<div class="row px-2">
						<icon-component
							class="mt-2 mr-2"
							iconName="weight"
						></icon-component>
					<h1 class="card-title title">80 Kg</h1>
				</div>
				</a>
		    <h6 class="card-subtitle mb-2 text-muted">Last updated weight</h6>
		    <p class="card-text">
					Your goal is to loos weight. Even if you loos half a pound a week,
					you will still loose 26 pounds by this time next year. Keep going !
				</p>
		  </div>
		</div>


		<div class="card mb-4">
		  <div class="card-body bg-secondary">
		    <a class="card-link">
					<div class="row px-2">
						<icon-component
							class="mt-2 mr-2"
							iconName="user-alt"
						></icon-component>
					<h1 class="card-title title">33</h1>
					</div>
				</a>
		    <h6 class="card-subtitle mb-2 text-muted">Age</h6>
		    <p class="card-text">
				</p>
		  </div>
		</div>

	</div>

	<div class="container col">
		<div class="card mb-4">
		  <div class="card-body bg-secondary">
		    <a class="card-link">
					<div class="row px-2">
						<icon-component
							class="mt-2 mr-1"
							iconName="arrows-alt-v"
						></icon-component>
					<h1 class="card-title title"> 175 cm</h1>
					</div>
				</a>
		    <h6 class="card-subtitle mb-2 text-muted">Height</h6>
		    <p class="card-text">
				</p>
		  </div>
		</div>

		<div class="card mb-4">
		  <div class="card-body bg-secondary">
		    <a class="card-link">
					<div class="row px-2">
						<icon-component
							class="mt-2 mr-2"
							iconName="trophy"
						></icon-component>
					<h1 class="card-title title">62 Kg</h1>
					</div>
				</a>
		    <h6 class="card-subtitle mb-2 text-muted">Your current goal</h6>
		    <p class="card-text">
					FOCUS ! Obstacles are what you see only when you take your
					eyes off the prize.
				</p>
		  </div>
		</div>

		<div class="card mb-4">
		  <div class="card-body bg-secondary">
		    <a class="card-link">
					<div class="row px-2">
						<icon-component
							class="mt-2 mr-2"
							iconName="fire"
						></icon-component>
					<h1 class="card-title title">314 Kcal</h1>
					</div>
				</a>
		    <h6 class="card-subtitle mb-2 text-muted">Calories burnt</h6>
		    <p class="card-text">
					The amount of calories you burnt with today activities,
					keep on working !
				</p>
		  </div>
		</div>

	</div>
</div>
