<div class="groupSettings">
	<h6 class="title">ACCOUNT</h6>
	<div class="card">
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item bg-secondary">Create a free Fit account</li>
	    <li class="list-group-item bg-secondary">Activate the free trial</li>
	    <li class="list-group-item bg-secondary">Log In</li>
	  </ul>
	</div>
</div>

<div class="groupSettings">
	<h6 class="title">ABOUT YOU</h6>
	<div class="card">
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item bg-secondary" routerLink="bodyprofile"><a>Body profile</a></li>
	    <li class="list-group-item bg-secondary">Profile</li>
	    <li class="list-group-item bg-secondary">Goals</li>
	  </ul>
	</div>
</div>

<div class="groupSettings">
	<h6 class="title">HELP</h6>
	<div class="card">
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item bg-secondary">Search Help Center</li>
	    <li class="list-group-item bg-secondary">Account & Billing Help</li>
	    <li class="list-group-item bg-secondary">Contact Support</li>
			<li class="list-group-item bg-secondary">Restore Subscription</li>
			<li class="list-group-item bg-secondary">Permanently Delete Account</li>
	  </ul>
	</div>
</div>
