.groupSettings {
margin-bottom: 30px;
}

.title {
	padding-left: 5px;
	color: #aaaaaa
}

.card {
	border: none !important;
	border-radius: 0.45rem !important;
}

.bg-secondary {
	background-color: #505050 !important;
}

.bg-secondary:hover {
	background-color: #333333 !important;
}
